{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Menu Make</title>
        <link rel="icon" type="image/png" href="{% static 'menu/images/cooking02_itameru.png' %}">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
            href="{% static 'menu/css/style.css' %}">
        <script src="{% static 'menu/js/javascript.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="home" class="wrapper-2">
            <header class="page-header wrapper">
                <div class="main-title">
                    <!--<a href="{% url 'index' %}"><img class="logo" src="{% static 'menu/images/rakuten-recipe-logo.png' %}" alt="今日のごはん"></a>-->
                    <a href="{% url 'index' %}"><h3 class="header-title">献立提案AI</h3></a>
                </div>
                <nav>
                    <ul class="main-nav">
                        <li><a class="header-navi" href="{% url 'index' %}">トップ</a></li>
                        <li><a class="header-navi" href="{% url 'start' %}">主菜を選ぶ</a></li>
                        {% if user.is_authenticated %}
                            <li><a class="header-navi" href="{% url 'logout' %}">ログアウト</a></li>
                        {% else %}
                            <li><a class="header-navi" href="{% url 'login' %}">ログイン</a></li>
                        {% endif %}
                        <li><a class="header-navi" href="{% url 'signup' %}">新規登録</a></li>
                    </ul>
                </nav>
            </header>

            <div>
                {% block title %}
                {% endblock %}
            </div>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <footer>
                <div>
                    <p><small>&copy; 2021 ryoichi kusaka</small></p>
                </div>
            </footer>
        </div>
    </body>
</html>