{% extends 'menu/layout.html' %}
{% load static %}

<div>
    {% block title %}
        <div class="home-content wrapper">
            <h2 class="page-title">今日のごはん</h2>
            
            {% if user.is_authenticated %}
                <h2 class="username">ようこそ {{ user.username }} さん</h2>
            {% else %}
                <h2 class="username">ようこそ ゲスト さん</h2>
            {% endif %}

            <a href="{% url 'start' %}">
                <img class="start-img" src="{% static 'menu/images/cooking_skillet_hamburg.png' %}" alt="今日のごはん">
            </a>
        </div>
    {% endblock %}
</div>

<div class="content">
    {% block content %}
            <form class="home-content" action="{% url 'start' %}" method='get'>
                {% csrf_token %}
                <button type="submit" class="button">スタート</button>
            </form>
    {% endblock %}
</div>



